# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/
ENV/

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Data 
# =========================
data/*
!data/**/.gitkeep

# =========================
# Logs
# =========================
logs/*
!logs/.gitkeep
*.log

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# ML artifacts
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.onnx
models/
checkpoints/

# =========================
# Docker
# =========================
*.env.docker

# =========================
# Terraform (infra/)
# =========================
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.tmp
*.bak
*.swp

temporary/*