POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword

RUN_ID=
RUN_DATE=

OUTPUT_FORMAT=csv
SILVER_OUTPUT_URI=/opt/workspace/data/processed_data/processed.csv
SOURCE_REGISTRY_PATH=/opt/workspace/services/data-pipeline/config/source_registry.yaml
