PROJECT_ID=western-pivot-452008-a6
REGION=asia-southeast1
BQ_LOCATION=asia-southeast1
ARTIFACT_REPOSITORY=gov-ai-jobs
IMAGE_TAG=bigquery-direct
BACKEND_SERVICE_NAME=gov-ai-backend
AI_AGENT_SERVICE_NAME=gov-ai-agent
RUNTIME_SERVICE_ACCOUNT=gov-ai-runner@western-pivot-452008-a6.iam.gserviceaccount.com
BACKEND_IMAGE_NAME=gov-ai-backend
AI_AGENT_IMAGE_NAME=gov-ai-agent
